- collapsed = session[:super_tags].nil?
= subtitle :super_tags, collapsed, "Custom fields"
.section
  %small#super_tags_intro{ hidden_if(!collapsed) }
    You can add custom information below, check with your administator if you need to add new fields here.
  #super_tags{ hidden_if(collapsed) }
    - f.object.tags.each do |super_tag|
      %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
        - super_tag.customfields.each_with_index do |field, i|
          - if i.even?
            %tr
          %td{ :valign => :top }
            .label.top.req
              = field.field_label
            = customfield f, super_tag, field
